/**
 * App Component
 */

@import '~normalize.css';

html,
body,
#root {
  height: 100%;

  background-color: #666666;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  font-family: Arial, Helvetica, sans-serif;

  #header {
    flex: 0 1 100px;
  }
  .main {
    flex: 1 0 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .window {
      flex: 0 0 60%;
    }
    .side {
      flex: 0 0 40%;
      background-color: darken( #666666, 5%);
    }
  }
  #footer {
    flex: 0 1 100px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1em 0;
}